.All {
    text-align: center;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 1em sans-serif;
    font-size:xx-large;
    color: aqua;
    text-transform: uppercase;
}


input {
    background-color: aquamarine;
    padding: 10px;
    margin: 5px;
}
